
<link rel = "stylesheet" href = "/css/Admin_sign_up.css">
<form action="/users/admin_sign_up_post" method="post">
    <h1>Sign up</h1>
    <input type = 'text' id = "name" name = "name"  placeholder= "NAME" required>  
    <input type = 'email' id = "email" name = "email" placeholder="EMAIL" required>  
    <input type = 'password' id = "password" required name = "password" placeholder="password">  
    <input type = 'password' id = "confirm_password" required name = "confirm_password" placeholder="confirm_password">  
    <input type = 'submit' value="Sign In" id="submit-btn">  
  </form>