<h1>Sign up form</h1>
<form action="/users/admin_sign_up_post" method="post">
    <label for = "name">Name:</label>
    <input type = 'text' id = "name" name = "name" required>  
     <label for = "email">Email:</label>
    <input type = 'email' id = "email" name = "email">  
  
    <label for = "password">Password:</label>
    <input type = 'password' id = "password" required name = "password">  
  
  
    <label for = "confirm_password">Confirm Password:</label>
    <input type = 'password' id = "confirm_password" required name = "confirm_password">  
  
   
    <input type = 'submit' value="Sign In">  
  </form>