<link rel = "stylesheet" href = '/css/admin_sign_in.css'>
<form action = "/users/admin_sign_in_post" method = "post">
    <img src="/images/profile.png">
    <input type = "email" placeholder="Enter your Email" name = "email" id = "email" required>
    <input type = "password" placeholder="Enter your Password" name = "password" id = "password" required>
    <input type = "submit" value = "Sign In" id = "submit-btn">
    
<a href = "/users/admin_sign_up">create your admin account</a>
</form>
