<link rel = "stylesheet" href = '/css/forgot.css'>
<div id = "form">
<input type = "email" placeholder = "enter the email" id = "email">
<button id = "linkbtn">Send for Confirmation</button>
</div>


<script src="/js/forgotPassword.js"></script>
