<link rel = "stylesheet" href = "/css/home.css">
<div id="products">
    <p>Cricket</p>
    <div id = "cricket" class="products_container">

    </div>
    <p>FootBall</p>
    <div id = "FootBall" class="products_container">

    </div>
    <p>VolleyBall</p>
    <div id = "VolleyBall" class="products_container">

    </div>

    <p>Hockey</p>
    <div id = "Hockey" class="products_container">

    </div>
    <p>BaseBall</p>
    <div id = "BaseBall" class="products_container">

    </div>
    <p>Rugby</p>
    <div id = "Rugby" class="products_container">

    </div>

    <div id="contacts">
        

    </div>
</div>
<script src = "/js/home.js"></script>