<link rel = "stylesheet" href = "/css/home.css">
<div id = "products">
    <p class="sport-type">Cricket</p>
    <div id = "cricket" class="products_container">

    </div>
    <p class="sport-type">FootBall</p>
    <div id = "FootBall" class="products_container">

    </div>
    <p class = "sport-type">VolleyBall</p>
    <div id = "VolleyBall" class="products_container">

    </div>

    <p class="sport-type">Hockey</p>
    <div id = "Hockey" class="products_container">

    </div>
    <p>BaseBall</p>
    <div id = "BaseBall" class="products_container">

    </div>
    <p class="sport-type">Rugby</p>
    <div id = "Rugby" class="products_container">

    </div>

    <div id="contacts">
        

    </div>
</div>


<script src = "/js/home.js"></script>




