<form>

    
   
    

  <input type = "text" id = "Address" placeholder="Your Address">

        <p id = "orderId"><%=orderId %></p>
        <p id = "productId"><%=productId %></p>
        <p id = "price"><%= price %></p>


   <button id="rzp-button1">Pay with Razorpay</button>
</form>


<script src = "/js/info.js"></script>




