<link rel = "stylesheet" href="/css/profile.css">
<aside class="profile-card">
    <header>
      <!-- here’s the avatar -->
      <a target="_blank" href="#">
        <img src="/images/profile.png" class="hoverZoomLink">
      </a>
  
      <!-- the username -->
      <h1>
           <%= locals.user.name %>
            </h1>
  
      <!-- and role or location -->
      <h2>
        <%= locals.user.email %>
            </h2>
  
    </header>
  
    <!-- bit of a bio; who are you? -->
     <div class="profile-bio">
    
     <!-- <input type="text" class="edit-btn" placeholder="edit_name">
     <button type="submit" class="edit-btn"><i class="fa-solid fa-pen-to-square"></i></button>
  
    
     <input type="password" class="edit-btn" placeholder=" edit_password">
     <button type="submit" class="edit-btn"><i class="fa-solid fa-pen-to-square"></i></button> -->
     
     <p style = "font-weight: 600;">Total orders : <%= locals.user.orders.length %></p>
     
    </div> 
  
    <!-- some social links to show off -->
    <ul class="profile-social-links">
      <li>
        <!-- <a target="_blank" href="https://www.facebook.com/creativedonut"> -->
          <i class="fa fa-facebook"></i>
        </a>
      </li>
      <li>
        <!-- <a target="_blank" href="https://twitter.com/dropyourbass"> -->
          <i class="fa fa-twitter"></i>
        </a>
      </li>
      <li>
        <!-- <a target="_blank" href="https://github.com/vipulsaxena"> -->
          <i class="fa fa-github"></i>
        </a>
      </li>
      <li>
        <!-- <a target="_blank" href="https://www.behance.net/vipulsaxena"> -->
         
          <i class="fa fa-behance"></i>
        </a>
      </li>
    </ul>
  </aside>
  <script src="https://kit.fontawesome.com/229cc92a6c.js" crossorigin="anonymous"></script>

