<link rel="stylesheet" href="/css/public_signin.css">
<div id = "container">

    <h3>Sign In</h3>

    <form id = "form">
    
    
        <div id = "email_div">
        <label for = "email" >Email:</label>
        <input type = "email" placeholder="Enter your email" id = "email" class = "signIn" name = "email"> 
        </div>
        <div id = "password_div">
        <label for = "password">Password:</label>
        <input type = "password" id = "password" name = "password" class="signIn">
        </div>
        <div id = "submit_div">
        <input type = "submit" value = "SignIn">
        </div>
    
    
    </form>

    <div class="login_methods">

<a href="#"> 
    <span >
        <img src="https://cdn-icons-png.flaticon.com/512/300/300221.png">
        <span>Continue With Google</span>
    </span>
</a>
    </div>


    <div class="login_methods">
        <a href="#">
    <span>
        <img src="https://cdn-icons-png.flaticon.com/512/2504/2504903.png">
        <span>Continue With Facebook</span>
    </span>
    </a>
    </div>
   
   

    <p id = "new_user">-------------------New User?-------------------</p>

    <a href="/users/public_sign_up"><button id = "create_btn">Create your E-Mall Account</button></a>
    
    </div>