<link rel = "stylesheet" href="/css/public_signup.css">
<div id = "container">

    <h3>SignUp</h3>

<form id = "form">

    <label for="name">Name:</label>
    <input type = "text" placeholder="Enter yoour name" id = "name" name = "name">
    <label for = "email" >Email:</label>
    <input type = "email" placeholder="Enter your email" id = "email" name = "email"> 
    <label for = "password">Password:</label>
    <input type = "password" id = "password" name = "password">
    <label for = "confirm_password" >Confirm Password:</label>
    <input type = "password" id = "confirm_password" name = "confirm_password">
    <input type = "submit" value = "SignUp">


</form>

</div>