/* #products{
    margin-top: 1%;
}
.products_container{
    height : 100%;
    width : 99%;
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  
}

.cards{
    margin: 0.5%;
    height : 100%;
    width : 30%;
  
    border: 2px solid black;
}

.cards img{
    height : 80%;
    width : 30%;
    cursor: pointer;
}

.cards a{
  
   
    color : black;
    
    
}

.cards p{
    text-decoration: underline;
    font-weight: 800;
    cursor: pointer;
   
}

.Cartbtn{ 
    
    color : white;
    background-color: darkmagenta;
    font-weight: 500;
    
    border-radius: 5px;
    width: 40%;
    border: 1px solid darkmagenta;
    padding: 1%;
    margin-left: 2%;
    font-size: medium;
    


  



}

.Buybtn{

    color : white;
    background-color: darkmagenta;
    font-weight: 500;
    
    border-radius: 5px;
    width: 25%;
    border: 1px solid darkmagenta;
    padding: 1%;
    margin-left: 2%;
    font-size: medium;

}


.sport-type{
    background-color: darkmagenta;
    padding : 1%;
    width : 30%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    color: white;
    font-size: xx-large;
    font-weight: 500;
} */


body{
    background-color:#fff;
}
.slidebody{
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
}
.slideimage{
    width:100%;
    height: 100%;
    margin-top: -1%;
    background-image: url(../images/1.jpg);
    background-size: 100% 100%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    animation: changeImage 20s  infinite; 
}
@keyframes changeImage {
    0%{
        background-image: url(../images/1.jpg);
    }
    25%{
        background-image: url(../images/2.jpg);
    }
    75%{
        background-image: url(../images/3.jpg);
    }
    100%{
        background-image: url(../images/4.jpg);
    }
    
}


#products{
    margin-top: 1%;
}
.products_container{
    height : 100%;
    width : 99%;
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

   
  
}

.cards{
     margin: 0.5%;
    height : 100%;
    width : 30%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor: pointer; 
   
}


  

  


.cards img{
    height : 200px;
    width :70%; 
   
   
}

.cards p{
      text-decoration: underline;
      font-weight: 600;  
      font-family: sans-serif;
      font-style:normal;
      text-align: center;
      
    
    
   
}
.cards a{
  
   
    color : black;
    
    
}

.Cartbtn{ 
   
    color : white;
    background-color: darkmagenta;
    font-weight: 500;
    
    border-radius: 50px;
    width: 40%;
    border: 1px solid darkmagenta;
    padding: 1%;
    margin-left: 2%;
    font-size: medium; 
    filter: drop-shadow(0);
    transition: all .3s ease;
   }
   .Cartbtn:hover{ 
    transform: scale(1.125); 
    color : white;
    background-color: darkmagenta;
    font-weight: 500;
    
    border-radius: 50px;
    width: 40%;
    border: 1px solid darkmagenta;
    padding: 1%;
    margin-left: 2%;
    font-size: medium;
    filter: drop-shadow(0);
    transition: all .3s ease;
   }


.Buybtn{

     color : white;
    background-color: darkmagenta;
    font-weight: 500;
    
    border-radius: 50px;
    width: 25%;
    border: 1px solid darkmagenta;
    padding: 1%;
    margin-left: 2%;
    font-size: medium; 
    filter: drop-shadow(0);
    transition: all .3s ease;
}
.Buybtn:hover{
    transform: scale(1.125);  
    color : white;
   background-color: darkmagenta;
   font-weight: 500;
   
   border-radius: 50px;
   width: 25%;
   border: 1px solid darkmagenta;
   padding: 1%;
   margin-left: 2%;
   font-size: medium; 
   filter: drop-shadow(0);
   transition: all .3s ease;
}





.sport-type{
    background-color: darkmagenta;
    padding : 1%;
    width : 30%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    color: white;
    font-size: xx-large;
    font-weight: 500;
}
/*footer*/
#footer{
    margin-top: 250px;
    width:100%;
    padding: 100px 15%;
    background:darkmagenta;
    color: #efefef;
    display: flex;
}
#footer{
    text-align: center;
}
.col-2{
    flex-grow: 2;
}
#footer div h3{
    font-weight: 300;
    margin-bottom: 30px;
    letter-spacing: 1px;
}
.col-1 a{
    display: block;
    text-decoration: none;
    color: #efefef;
    margin-bottom: 10px;

}
form input {
    width:400px;
    height: 45px;
    border-radius: 4px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
    outline: none;
    border:none;
}
form button{
    background: transparent;
    border: 2px solid #fff;
    color:#fff;
    border-radius: 30px;
    padding: 10px 30px;
    font-size: 15px;
    cursor: pointer;
}
.social-icon{
    margin-top:30px;
}
.social-icon i{
    font-size: 22px;
    margin: 10px;
    cursor: pointer;
}

.filter{
    display : none;
}
