.products_container{
    height : 100%;
    width : 99%;
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  
}

.cards{
    margin: 0.5%;
    height : 100%;
    width : 30%;
    cursor: pointer;
}

.cards img{
    height : 50%;
    width : 50%;
}

.cards p{
    text-decoration: underline;
    font-weight: 800;
   
}
