body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
form{

    display: flex;
    flex-direction: column;
    justify-content: flex;
    align-items: flex;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    background-color: darkmagenta;
    margin: 100px;
    height: 200px;
    width: 30%;
    border: 5px solid darkmagenta;
    border-radius: 10px;
}
#Address{
    margin: 20px;
    border-radius: 10px;
    border: 5px solid darkmagenta;
    transition: all .3s ease;

}
#Address:hover{
    margin: 20px;
    border-radius: 10px;
    border: 5px solid darkmagenta;
    transition: all .3s ease;
    transform: scale(1.05);

}
#rzp-button1{
    margin: 20px;
    margin-top:30px;
    border-radius: 10px;
    border: 2px solid #ffffff;
    transition: all .3s ease;
    color:#ffffff;
    background: transparent;
}
#rzp-button1:hover{
    margin: 20px;
    margin-top:30px;
    border-radius: 10px;
    border: 2px solid #ffffff;
    transition: all .3s ease;
    color:#ffffff;
    background: transparent;
    transform: scale(1.05);
}
