#navbar{
  position: sticky;
  top: 0;
}


@media only screen and (min-width: 0px) and (max-width : 576px) {


  #navbar {
    height: 20%;
    width : 100%;

    background-color : darkmagenta;
    padding-top: 2%;
    padding-bottom: 1%;
    display : flex;
    font-weight: 700;
 

}
#navbar img{
  height : 1%;
  width: 1%;
  margin-left: 4%;
}
#navbar #home{
  margin-top: 1%;
  margin-left: 6%;
  margin-right: 4%;
}

#home a{

  text-decoration: none;
  color : white

}
#navbar #search_form{

  width: 100%;
}


#navbar #search_form #search-box{
  width: 67%;
  border : 4px solid white;
  border-radius: 4px;
}

#search-box:focus{
  outline: none !important;


}

#navbar #search_form #search-btn{
  background-color: green;
  width: 25%;
  padding: 0.4%;
  border:2px solid green;
  border-radius: 4px;
 }


#collapse img{
  height: 30px;
  width:30px;
}


#Account{
  display: none;
}
#orders{
   display: none;
}

#cart{
display: none;
}

.side-bar{
  color: red;
}


 



}


@media only screen and (min-width: 577px) and (max-width : 768px) {

  #navbar {
    height: 20%;
    width : 100%;

    background-color : darkmagenta;
    padding-top: 2%;
    padding-bottom: 1%;
    display : flex;
    font-weight: 700;
 

}
#navbar img{
  height : 1%;
  width: 1%;
  margin-left: 4%;
}
#navbar #home{
  margin-left: 6%;
  margin-right: 2%;
}

#home a{

  text-decoration: none;
  color : white

}
#navbar #search_form{

  width: 100%;
}


#navbar #search_form #search-box{
  width: 75%;
  border : 4px solid white;
  border-radius: 4px;
}

#search-box:focus{
  outline: none !important;


}

#navbar #search_form #search-btn{
  background-color: green;
  width: 14%;
  padding: 0.4%;
  border:2px solid green;
  border-radius: 4px;
 }


#collapse img{
  height: 40px;
  width:40px;
}


#Account{
  display: none;
}
#orders{
   display : none;
}

#cart{
  display: none;
}







  


} 
@media only screen and (min-width: 769px) and (max-width : 992px){


  #navbar {
    height: 20%;
    width : 100%;

    background-color : darkmagenta;
    padding-top: 2%;
    padding-bottom: 1%;
    display: flex;

  
    font-weight: 700;
 

}
#navbar img{
  height : 1%;
  width: 1%;
  margin-left: 4%;
}
#navbar #search_form{
  width: 70%;
}
#navbar #home{
  margin-left: 9%;
  margin-right: 4%;

}

#navbar #home a{
  text-decoration: none;
  color: white;
}
#navbar #search_form #search-box{
  width: 80%;
}

#navbar #search_form #search-btn{
  background-color: green;
  width: 14%;
  padding: 0.4%;
  border:2px solid green;
  border-radius: 4px;
 }

#collapse{
  margin-left: 1px;
  margin-right: 1px;
}
#collapse img{
  height: 40px;
  width:40px;
}



#Account{
  display: none;
}
#orders{
  display: none;
}

#cart{
  display: none;
}



}






 @media only screen and (min-width: 993px) and (max-width : 1200px){



  #navbar {
    height: 20%;
    width : 100%;

    background-color : darkmagenta;
    padding-top: 2%;
    padding-bottom: 1%;
    display : flex;
    font-weight: 700;
 

}
#navbar img{
  height : 1%;
  width: 1%;
  margin-left: 4%;
}
#navbar #home{
  margin-left: 6%;
  margin-right: 2%;
}

#home a,#Account a,#orders a{

  text-decoration: none;
  color : white

}
#navbar #search_form{

  width: 90%;
}


#navbar #search_form #search-box{
  width:80%;
  border : 4px solid white;
  border-radius: 4px;
}

#search-box:focus{
  outline: none !important;


}

#navbar #search_form #search-btn{
  background-color: green;
  width: 14%;
  padding: 0.4%;
  border:2px solid green;
  border-radius: 4px;
 }

 #navbar #Account{
  margin-left: 3%;
  margin-right: 1%;
}

 #navbar #orders{
  margin-left : 6%;
  margin-right: -4%;
}

#cart{
  margin-left: 8%;
  margin-right: -1%;
}




#cart a{
text-decoration: none;
}


#cart img{
height: 70%;
width : 17%;
}

#collapse img{
visibility: hidden;
}




   

} 










 



 @media only screen and (min-width: 1201px)  and (max-width : 1400px){


    #navbar {
        height: 20%;
        width : 100%;
    
        background-color : darkmagenta;
        padding-top: 2%;
        padding-bottom: 1%;
        display : flex;
        font-weight: 700;
     

    }
    #navbar img{
      height : 1%;
      width: 1%;
      margin-left: 9%;
    }
    #navbar #home{
      margin-left: 6%;
      margin-right: 2%;
    }

    #home a,#Account a,#orders a{

      text-decoration: none;
      color : white

    }
    #navbar #search_form{
      width: 100%;
    }

  
    #navbar #search_form #search-box{
      width: 80%;
      border : 4px solid white;
      border-radius: 4px;
    }

   #search-box:focus{
      outline: none !important;
    

    }

    #navbar #search_form #search-btn{
      background-color: green;
      width: 14%;
      padding: 0.4%;
      border:2px solid green;
      border-radius: 4px;
     }

     #navbar #Account{
      margin-left: 2%;
      margin-right: 6%;
    }

     #navbar #orders{
      margin-right: 5%;
    }

    #cart{
      margin-right: 0%;
    }

#cart a{
  text-decoration: none;
}


 #cart img{
    height: 80%;
    width : 20%;
 };

 #collapse{
  display: none;
  visibility: none;
 }







    




 

}

#cart-img2{
  height: 10%;
  width : 10%;
}

#header{
  background-color: darkmagenta;
}

#canvas-body{

  background-color: darkmagenta;

}


